<head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <title>CheckMySchool Data Portal</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style_here.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Bitter|Lobster|Manjari|Schoolbell" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
    
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
      </head>

<div id = 'map' style="width: 700px; height: 700px;"></div>



<script>



    var map = L.map('map').setView([12.8797, 121.7740], 6);

    var CartoDB_Positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 18
    });
    
    map.addLayer(CartoDB_Positron);


    var data = {
        "type": "FeatureCollection",
        "features": [
        {% for obj in query %}
        {
            "type": "Feature",
            "properties": {
                "School_Name": "{{ obj.school_nam }}",
                "School_ID": "{{ obj.school_id }}",
                "Region": "{{ ob.region }}",
                "Division": "{{ obj.division }}",
                "District": "{{ obj.district }}",
                "Water": "{{ obj.original_w }}",

            },
            "geometry": {
                "type": "Point",
                "coordinates": [{{ obj.longitude }}, {{ obj.latitude }}]
            }
        } {% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    };






var geojsonMarkerOptions = {
	radius: 8,
	fillColor: "#ff7800",
	color: "#000",
	weight: 1,
	opacity: 1,
	fillOpacity: 0.8
};

L.geoJSON(data, {
	pointToLayer: function (feature, latlng) {
		return L.circleMarker(latlng, geojsonMarkerOptions);
	},
    onEachFeature: function(feature, layer) {
                    layer.bindPopup("<dl><dt><b>School Properties</b></dt>" +
                "<dt>" + "School Name: " + feature.properties.School_Name + "</dt>" +
                "<dt>" + "Schoool ID: " + feature.properties.School_ID + "</dt>" + 
                "<dt>" + "Region: " + feature.properties.Region + "</dt>" +
                "<dt>" + "District: " + feature.properties.District + "</dt>" +
                "<dt>" + "Water: " + feature.properties.Water + "</dt>" +
                "</dl>");
    }

}).addTo(map);





    map.addLayer(dataLayer);

</script>