<!DOCTYPE html>
<html>

        <head>
                {% load staticfiles %}
                <meta charset="utf-8">
                <title>CheckMySchool Data Portal</title>
                <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
                <link rel="stylesheet" type="text/css" href="{% static "css/style_here.css" %}">
                <link href="https://fonts.googleapis.com/css?family=Roboto|Bitter|Lobster|Manjari|Schoolbell" rel="stylesheet">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
                
                <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
                <script src="https://code.highcharts.com/highcharts.src.js"></script>
                <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
            
                <meta name="viewport" content="width=device-width,initial-scale=1.0">
              </head>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    

<div id="map" style="position: absolute;"></div>


<script>
    var map = L.map('map').setView([12.8797, 121.7740], 6);

    var CartoDB_Positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 18
        });
        
    map.addLayer(CartoDB_Positron);

    L.geoJSON(regions_gjson, {
        style: function(feature) {
            switch (feature.properties.original_internet_boolean) {
                case 'Yes': return {color: "#ff0000"};
                case 'No':   return {color: "#0000ff"};
            }
        }
    }).addTo(map);

</script>


<!--

    var map = L.map('map').setView([12.8797, 121.7740], 6);

    L.geoJSON(regions_gjson, {
	style: function(feature) {
		switch (feature.properties.original_internet_boolean) {
			case 'Yes': return {color: "#ff0000"};
			case 'No':   return {color: "#0000ff"};
		}
	}
}).addTo(map);
-->





</body>
</html>