{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Bitter|Lobster|Manjari|Schoolbell" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static "css/schools_list.css" %}">
</head>

<body>

        <section style="background-color: #ffffff;  margin: 0 auto; width: 100%; background: #ffffff; height: 5vh;">
                <a href='/'><img src="{% static "myapp/CMS Logo hi res.jpg" %}" style="float: left;" width="300vh", height="100vh"></a>
                  <ul style="height: 100%;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center; font-family: Manjari; height: 10vh;">
                    <li style="display: inline-block;
                    width: 100px;
                    padding: 10px;
                    text-align: center;"><a href="/about/" style="color: #002036; text-decoration: none; font-size: 20px;">About</a></li>
                    <li style="    display: inline-block;
                    width: 100px;
                    padding: 10px;
                    text-align: center;"><a href="/schools_list/"  style="color: #002036; text-decoration: none; font-size: 20px;">School Profiles</a></li>
                    <li style="    display: inline-block;
                    width: 100px;
                    padding: 10px;
                    text-align: center;"><a href="/school_map/"  style="color: #002036; text-decoration: none; font-size: 20px;">School Map</a></li>
                    <li style="    display: inline-block;
                    width: 100px;
                    padding: 10px;
                    text-align: center;"><a href="/table_creator/"  style="color: #002036; text-decoration: none; font-size: 20px;" >Create Your Own Dataset</a></li>
                  </ul>
                  <hr>
              </section>








</body>



