{% load my_tags %}

<head>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</head>

<form action="" method="get">
        {{ year_filter.form.as_p }}
        <input type="submit" />
</form>



<!--
{% for obj in response %}
<p>{{ obj.school_name }}</p>
{% endfor %}
-->


<table id = "example"  class="display" style="width:100%">
<thead>
    <tr>
        <th>School Name</th>
        <th>School ID</th>
        <th>Water Access</th>
        <th>Electricity Access</th>
        <th>Internet Access</th>


    </tr>
</thead>
<tbody>
    {% for obj in response %}

    <tr>

        <td>{{ obj.school_name }}</td>
        <td>{{ obj.school_id }}</td>
        <td>{{ obj.original_water_boolean }}</td>
        <td>{{ obj.original_electricity_boolean }}</td>
        <td>{{ obj.original_internet_boolean }}</td>



    </tr>
    {% endfor %}
</tbody>


</table>

<!-- 
<script>

$(document).ready(function() {
    $('#example').DataTable();
} );

</script> -->




<div class="pagination">
        <span>
            {% if response.has_previous %}
                <a href="?{% query_transform request page=1 %}">&laquo; first</a>
                <a href="?{% query_transform request page=response.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ response.number }} of {{ response.paginator.num_pages }}.
            </span>

            {% if response.has_next %}
                <a href="?{% query_transform request page=response.next_page_number %}">next</a>
                <a href="?{% query_transform request page=response.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div> 

   