{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table border=1 cellpadding=7 id="schooltable" class="yo">
        <tr>
            <th>School ID</th>
            <th>School Year</th>
            <th>School Name</th>
            <th>School Region</th>
            <th>Total Enrollment</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        {% for obj in filter.qs %}
        <tr>
            <td><a href="{{ school.school_id }}/">{{ obj.school_id }}</a></td>
            <td>{{ obj.school_year }}</td>
            <td>{{ obj.school_name }}</td>
            <td>{{ obj.region }}</td>
            <td>{{ obj.total_enrollment }}</td>
            <td>{{ obj.latitude }}</td>
            <td>{{ obj.longitude }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
